<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerlinks}}

  </head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <div class="col-md-12 col-12 main_header_left align-items-center">
                  <figure class="errorImage">
                      <img src="images/404-error-page-not-found-600w-1346082248.webp" alt="sayed" class="image-fluid" title="mellow tech">
                    </figure>
            
                <p>
                Welcome to Mellow Tech.
                </p>
                <h1>
                    {{errorMsg}}
                </h1>
                <a href="/">
                <button>
                    Go Back
                </button>
                </a>
            </div>
        </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>
</html>