<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerlinks}}

  </head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <div class="col-md-6 col-12 main_header_right align-items-center">
                  <figure class="aboutImage">
                      <img src="images/rsz_sayed.jpg" alt="sayed" class="image-fluid" title="mellow tech">
                    </figure>
                </div>
            
            <div class="col-md-6 col-12 main_header_left align-items-center">
                <p>
                Welcome to this Weather application build with express js.
                </p>
                <h1>
                    I have followed <span class="text_color">Thaapa technical's</span> tutorial to make this web app.
                </h1>
                <a href="https://www.thaapatechnical.com/">
                <button>
                    Thaapa's Site
                </button>
                </a>
            </div>
        </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>
</html>